:root {
    --verde-oliva: #556B2F;
    --tierra: #8B4513;
    --crema: #FFFDF5;
    --dorado: #C5A059;
    --texto: #2D2D2D;
    --blanco: #FFFFFF;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--crema);
    color: var(--texto);
    margin: 0;
}

header {
    height: 18vh;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1200') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav-wrapper {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .05);
}

nav {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 12px;
    justify-content: center;
    scrollbar-width: none;
}

.cat-btn {
    background: none;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    color: #888;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 50px;
    transition: 0.3s;
}

.cat-btn.active {
    background: var(--verde-oliva);
    color: white;
}

/* index.css */

.controls {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: auto; /* Empuja los controles al fondo de la info */
}

/* Estilo para que el botón de añadir se vea como el de tu imagen */
.btn-add-cart {
    background: var(--verde-oliva);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-add-cart:hover {
    background: var(--tierra);
}
.price{
    color: var(--verde-oliva);
    font-weight: 800;
    font-size: larger;
    justify-items: flex-end;
}